@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {

    --primary-1 : linear-gradient(to left, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --primary-2 : hsl(0, 100%, 66%);

    --neutral-1 : hsl(0, 0%, 100%);
    --neutral-2 : hsl(270, 3%, 87%);
    --neutral-3 : hsl(279, 6%, 55%);
    --neutral-4 : hsl(278, 68%, 11%);
}

*{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

body {
    background: url(../assets/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: auto 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    
    .cards {
        .frontcard {
            position: absolute;
            top: 20%;
            left: 15%;
            width: 447px;
            height: 245px;

            background: url(../assets/images/bg-card-front.png);
            background-size: 100% 100%;

            .layout-front {
                display: grid;
                height: 100%;
                color: var(--neutral-1);
                .top {
                    padding-top: 25px;
                    padding-left: 35px;
                }
                .middle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        font-size: 28px;
                        letter-spacing: 0.2ch;
                    }
                }
                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .left {
                        margin-left: 40px;
                    }
                    .right {
                        margin-right: 40px;
                    }
                }
            }
        }
        .backcard {
            position: absolute;
            top: 50%;
            left: 20%;
            width: 447px;
            height: 245px;
            color: var(--neutral-1);

            background: url(../assets/images/bg-card-back.png);
            background-size: 100% 100%;  

            p {
                position: relative;
                top: 45%;
                left: 75%;
            }
        }
    }

    .form {
        form {
            label {
                text-transform: uppercase;
            }
            div {
                display: grid;
            }
            .bottom-form {
                .exp-date {
                    display: flex;
                    flex-wrap: wrap;
                    label {
                        width: 100%;
                    }
                    input {
                        display: flex;
                        width:40%;
                    }
                }
            }
        }
    }
}